table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    color: black;
    padding: 5px;
}

th {
    background-color: #9DC0E3;
}

td {
    background-color: #FFF3CF;
}

table {
    margin: 100px auto;
    width: 80%;
}